:root {
    --fondo: #333333;
    --letras: #F5F5F5;
    --azul_claro: #4169E1;
    --azul_oscuro: #000080;
}

#inicio_rapido {
    position: fixed;
    display: grid;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    height: 100vh;
    width: 100vw;
    color: var(--letras);
    background-color: var(--fondo);


    div {
        p {
            margin: .8em .5em;

            button {
                padding: .1em .3em;
                font-size: 1em;
                transition: transform .5s;
                background-color: var(--azul_claro);
                border: 1px solid var(--azul_oscuro);
                border-radius: 15px;
                color: var(--letras);

                &:hover {
                    transform: scale(0.9);
                }
            }

        }

        hr {
            margin: 0 1em;
            border: 0;
            height: 1px;
            background: linear-gradient(to right, transparent 50%, var(--azul_oscuro) 50%),
                linear-gradient(to right, var(--azul_claro) 50%, transparent 50%);
            background-size: 8px 1px;
        }

        ;
    }
}