*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

nav{
    background-color: #f89f05;
    height: 70px;
    width: 100vw;
    font-weight: 300;
    border-bottom: 4px solid rgb(3, 34, 85);
    position: fixed;
    z-index: 2;
}

.logo-container {
    position: absolute;
    padding: 0px 40px;
    line-height: 70px; /*para que quede centrado*/
}
.gato{
    width: auto;
    height: 60px;
    padding-left: 30px;
    padding-top: 3px;
}

nav ul{
    float: right;
    margin-right: 40px;
    letter-spacing: .8px;
}
nav ul li{
    display: inline-block;
    line-height: 70px; /*para que quede centrado*/
    margin: 0 3px;
    padding: 0
}
nav ul li a{
    color: rgb(3, 34, 85);
    font-size: 1em;
    padding: 20px 6px; /*20 arriba y abajo y 6 der e izq*/
    border-radius: 3px;
    text-transform: uppercase;

    transition: all .3s ease;
    position: relative;
}
nav ul li a::before{
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    transition: .5s;
    /* border-radius: 10px; */
    background: linear-gradient(90deg, #0c143dae, #ffffff8f);
    background: linear-gradient(90deg, #0c143dae, #ffffff8f);
    bottom: 0.5em;
    left: 0;
    right: 0;
}

nav ul li a:hover::before {
    width: 100%;
}

@media (max-width: 900px){
    .checkbtn{
        display: block;
    }

    nav ul{
        position: fixed;
        width: 50vw;
        height: 100vh;
        background: rgba(3, 34, 85, 0.95);
        top: 70px;
        right: -100vw;
        text-align: center;
        transition: all .7s;
        margin-right: 0px;
    }
    nav ul li{
        display: grid;
        margin: 0px 0;
        line-height: 60px; /*espacio entre elementos*/
        border-bottom: 2px solid #fff;
        letter-spacing: 1.5px;
        min-height: 20.5%;
        align-self: center;
        padding: 0;
    }
    nav ul li a{
        cursor: pointer;
        font-size: 1.3em;
        min-height: 100%;
        display: grid;
        align-content: center;
        color: #fff;
        padding: 0;
        text-align: center;
    }
    ul li:hover{
        background: rgb(248, 159, 5);
        color: rgb(3, 34, 85);
        font-size: 1.2em;
    }
    
    #check:checked ~ ul{
        right: 0;
    }
}
    @media (max-width: 600px){
        .checkbtn{
            display: block;
        }
        nav {
            width: 100%
        }
        nav ul{
            position: fixed;
            min-width: 100%;
            width: 100vw;
            /* margin-right: 20px; */ 
        }
        nav ul li{
            letter-spacing: 3px;
            text-align: center;
            margin: 0;
        }
        nav ul li a{
            padding: 0;
        }
}