section.quienesSomos {
    width: 100%;
    height: auto;
    background-color: var(--verde_claro);
    text-align: center;
    padding: 10px;
    padding-bottom: 50px;
    display: block;
    font-size: 1rem;

    .container_QSomos{
        border: 3px ridge var(--verde_esmeralda);
        max-width: 800px;
        margin: 0 auto;
        padding: 30px 20px;
        border-radius: 10px;
        background-color: var(--semiTransparente);
        filter:brightness(40%);
    }

    h2 {
        max-width: 800px;
        margin: 0 auto 5px;
        text-shadow: -5px 5px 5px rgba(0, 0, 0, .3);
    }
    p {
        max-width: 1000px;
        margin: auto;
        margin-bottom: 30px;
        font-size: 1.1em;
        text-align: justify;
        hyphens: auto; /*corte de sílabas*/
        padding: 0px 20px;
    }
    i {
        text-align: center;
        font-size: 1.05em;
        font-weight: bold;
    }
    i span {
        color: var(--purpura);
        font-size: 1.2em;
    }
}