@import url("inicio.css");
@import url("libreria.css");
@import url("enlaces.css");
@import url("contribuciones.css");
@import url("websDeInteres.css");
@import url("quienesSomos.css");

@font-face {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    src: url(fonts/lucida-sans-cufonfonts/LSANS.TTF) format('trueType');
}
@font-face {
    font-family: 'Courier New', Courier, monospace;
    src: url(fonts/Courier_Prime/CourierPrime-Regular.ttf) format('trueType');
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf) format('trueType');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .3s ease all;
    text-decoration: none;
}

:root {
    --verde_agua: #0ef7d4;
    --verde_claro: #0cd9ba;
    --verde_claro_tenue: #0cd9bad5; 
    --verde_esmeralda: #135869;
    --blanco: #fcfcfc;
    --azul_tenue: #9ab9f9fd;
    --azul_claro: #598ef7;
    --azul_medio: #143aac;
    --azul_oscuro: #000080;
    --gris: #6e6e6e;
    --gris_claro: #ececec;
    --gris_oscuro: #2c2c2c;
    --semiTransparente: #fbfdfd22;
    --negro: #141414;
    --purpura: #9e06d5;
    --naranja: #e08805;
}
html{
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth; 
    transition: all 1s;
}

body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100vh;
}

/* *****LINK VOLVER AL INICIO***** */
h5 {
    text-align: left;
    display: flex;
    cursor: pointer;
    margin-bottom: 40px;
    font-size: 16px;
    text-decoration: underline;

    img {
        width: 14px;
        height: 14px;
        margin-right: 5px;
        margin-top: 20px;
    }

    a:hover, a:active {
        color: var(--azul_oscuro);
        transform: scale(90%);
    }
}

/* *****TITULOS***** */
.titulo {
    font-size: 1.8rem;
    text-shadow: -5px 5px 5px rgba(0, 0, 0, .3);
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: var(--blanco);
}

/* *****CARTEL ERROR***** */
.errorMessage {
    width: 10em;
    background-color: #f2bfbf;
    color: #ff0000;
    padding: 10px;
    border: 3px double #ff0000;
    border-radius: 10px;
    font-size: 1.1rem;
    text-align: center;
    margin: auto;
    margin-top: 60px;
    animation: desliza 0.5s ease-in-out;
}

@keyframes desliza {
    0% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(-10px); }
}

/* botón volver arriba */
#btnVolverArriba {
    width: 4em;
    height: 4em;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 20;
    background-color: #fdfeff9f;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    img{
        width: 2.5em;
        height: 2.5em;
        margin: auto;
        filter:invert(50%);
    }
    @media (max-width: 650px) {
        width: 48px;
        height: 48px;
    }
}

#btnVolverArriba:hover {
    background-color: #fdfeff;
    
}

/* Para borrar div q se genera automáticamente al final de la página */
#loom-companion-mv3{
    display: none;
}