section.websDeInteres {
    height: auto;
    min-height: 100vh;
    width: 100%;
    background-color: var(--verde_claro_tenue);
    padding: 20px;
    padding-bottom: 80px;
    display: block;
    font-size: 1rem;
    text-align: center; 
   
    details{
        max-width: 700px;
        margin: auto;
        margin-top: 5px;
        background-color: var(--verde_agua);
        padding: 10px 0;
        filter: brightness(93%);
        border-radius: 5px;
    }

    summary.titleLinks {
        font-size: 1.1em;
        text-align: left;
        font-weight: bolder;
        max-width: 600px;
        margin: auto;
    }
    
    .listLinks {
        font-family: 'Roboto', 'Lucida Sans', Arial, sans-serif;
        font-size: 1.1rem;
        margin: 0 auto;
        max-width: 540px;
        overflow-wrap: break-word;
        text-align: left;
    }

    .li {
        margin-top: 5px;
        padding: 2px 0px 2px 5px;
        text-decoration: underline;
        cursor: pointer;
        color: var(--negro);
        text-align: left;


        &:nth-child(odd) {
            background-color: var(--gris_claro);
        }
    }

    a.link {
        color: var(--negro);
        text-align: left;
    }
}

@media (max-width: 1000px) {
    .titleLinks{
        min-height: 48px;
        align-content: center;
    }
    .listLinks {
        margin: 0 0px;
        line-height: 40px;
        &:last-child{
            padding-bottom: 18px;
        }
    }
}
@media (max-width: 650px) {
    .titleLinks{
        padding: 0 20px ;
    }
    .listLinks{
        padding: 0 25px 0 40px ;
    }
}
