*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    margin: 10em  10em  auto  auto;
}
.container{
   height:  10rem;
}
.cuadrado{
    position: absolute;
    height: 10rem;
    width: 10rem;
    background-color: rgba(255, 0, 0,0.8);
    transition: 0.3s;
    z-index: 1;
}
.cuadrado:hover{
    cursor: pointer;
    border-radius: 30%;
    transition: 0.3s;
}
.circulo_top{
    position: absolute;
    height: 5rem;
    width: 5rem;
    background-color: rgb(21, 34, 221);
    transition: 0.3s;
    margin: 2.5em   auto  auto 2.5em;
    border-radius: 50%;
}
.container:hover .circulo_top{
    transform: translateY(10em);
    transition: 0.3s;
}
.circulo_right{
    position: absolute;
    height: 5rem;
    width: 5rem;
    background-color: rgb(84, 221, 21);
    transition: 0.3s;
    margin: 2.5em   auto  auto 2.5em;
    border-radius: 50%;
}
.container:hover .circulo_right{
    transform: translateY(-10em);
    transition: 0.3s;
}
.circulo_down{
    position: absolute;
    height: 5rem;
    width: 5rem;
    background-color: black;
    transition: 0.3s;
    margin: 2.5em   auto  auto 2.5em;
    border-radius: 50%;
}
.container:hover .circulo_down{
    transform: translateX(-10em);
    transition: 0.3s;
}
.circulo_left{
    position: absolute;
    height: 5rem;
    width: 5rem;
    background-color: rgb(218, 31, 177);
    transition: 0.3s;
    margin: 2.5em   auto  auto 2.5em;
    border-radius: 50%;
}
.container:hover .circulo_left{
    transform: translateX(10em);
    transition: 0.3s;
}
