*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-direction: row;
}
input {
    display: none;
}
label {
    position: relative;
    cursor: pointer;
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 50px;
    border: 5px solid #23233f;
    background: #23233f;
    overflow: hidden;
}
label:before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    transition: 300ms;
    transition-timing-function: cubic-bezier(0, 0, 0.11, 1.18);
    border-radius: 50%;
}
input:not(:checked) ~ label:before {
    transform: translateX(0%);
    background: #ddd;
}
input:checked ~ label:before {
    transform: translateX(100%);
    background: #06ab00;
}
.container {
    position: relative;
    width: 40px;
    height: 47px;
    overflow: hidden;
    user-select: none;
    margin-left: 10px;
}
.char {
    height: 100px;
    position: absolute;
}

input:checked ~ div.container img {
    animation: moveCharacter 400ms steps(10) infinite;
}

@keyframes moveCharacter {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}