:root{
    --fondo: rgb(71, 13, 64);
    --fondo_color: gray;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}
.fondo{
    height: 100vh;
    width: 100%;
    background-color: var(--fondo);
}
.button{
    margin: 1em;
}

.lbl_switch{
    display: inline-block;
    width: 5.5em;
    height: 3em;
    background-color: var(--fondo_color);
    border-radius: 10em;
    position: relative;
    cursor: pointer;
}



#btn_switch{
    display: none;
}

#btn_switch:checked ~ .lbl_switch{
    --fondo_color: aqua;
}

#btn_switch:checked ~ .fondo{
    --fondo: rgb(19, 29, 29);
}

#btn_switch:checked ~ .img_icon{
    opacity: 0%;
    
}
#btn_switch:checked ~ .img_icon_luz{
    opacity: 100%;
    left: 3.8em;
}

.img_icon{
    position: absolute;
    z-index: 1;
    pointer-events: none;
    width: 2.2em;
    height: 2.2em;
    border-radius: 10em;
    top: 1.4em;
    left: 1.5em;
    opacity: 100%;
    transition: .3s;
}
.img_icon_luz{
    position: absolute;
    z-index: 1;
    pointer-events: none;
    width: 2.2em;
    height: 2.2em;
    background-color: azure;
    border-radius: 10em;
    top: 1.4em;
    left: 1.5em;
    opacity: 0%;
    transition: .3s;
}

